---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1>Hi, I'm Broderick Westrope 👋 </h1>
    <p>but most people call me Brodie :)</p>

    <p>
      By day I work as a consultant at <a href="https://mantelgroup.com.au/">Mantel Group</a>, where I break down business problems and craft solutions using a wide range of technologies in a cloud-first approach.
    </p>

    <p>
      By night I'm an avid open-source developer, speaker, and athlete.
    </p>
    
    <h2>Professional</h2>
    <p>
      My job as a consultant exposes me to a range of client projects, each with its own unique set of challenges and technologies.
      The core of my job is building <strong>Go</strong> and <strong>C#</strong> web services leveraging <strong>Temporal</strong>, <strong>ASP.NET</strong>, <strong>Connect RPC</strong>, and more!
    </p>
    <p>
      For more details on my professional experience and skills please see my CV using the link at the top.
    </p>

    <h2>Personal</h2>
    <p>
      My code journey began at a young age, with a fascination for the
      limitless potential that software development provides (in
      comparison to my other options like Lego and Minecraft). I started
      by developing my own video games, eventually using the Unity engine
      with <strong>C#</strong>. This was my introduction to the world of{" "}
      <strong>.NET</strong> and quickly evolved into a career of web
      development.
    </p>
    <p>
      Beyond my professional endeavours, I'm a passionate advocate for FOSS, speaking at conferences, meetups, and contributing to open source projects.
      My priorities in life are promoting physical and mental wellbeing, and creating a sense of community in all environments.
      Outside of work I do a wide range of activities other than development. Bouldering 🧗, reading 📚, Muay Thai 🥋, motorcyles 🏍️, hiking 🥾, and horticulture 🌵 are just a few of my hobbies!
    </p>
    <p>
      For more details on my open-source activity please see my GitHub profile using the link below.
    </p>

    <hr class="w-20 mx-auto my-8 border-solid border-[1]" />
    <p>Find me on</p>
    <p class="flex gap-x-8 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="flex gap-x-1 items-center text-secondary hover:text-primary no-underline"
          >
            <i class="iconify size-6" class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      Feel free to contact me to discuss professional and open-source opportunities, or just to say hi.
    </p>
  </article>
</BaseLayout>