---
import BaseLayout from "@/layouts/BaseLayout.astro";
import siteConfig from "@/site-config";
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1>Hi, I'm Brodie 👋</h1>

    <p>
      By day I work as a Software Engineer at <a
        href="https://www.droneshield.com//">DroneShield</a
      >, where I use my technical skills to help save lives by creating C-UAS
      systems.
    </p>

    <p>By night I'm an avid open-source developer, speaker, and athlete.</p>

    <h2>Professional</h2>
    <p>
      Working at DroneShield is a fast-paced environment where proactivity is
      just as important as productivity. I use <strong>Go</strong> and a suite of
      complementary technologies to craft solutions which help civilians and those
      on the battlefield.
    </p>
    <p>
      To get a more wholistic view of my professional experience and skills
      please see my CV using the link at the top.
    </p>

    <h2>Personal</h2>
    <p>
      My code journey began at a young age, with a fascination for the limitless
      potential that software development provides (in comparison to my other
      options like Lego and Minecraft). I started by developing my own video
      games, eventually using the Unity engine with <strong>C#</strong>. This
      was my introduction to the world of{" "}
      <strong>.NET</strong> and quickly evolved into a career of web development.
      Mantel Group provided me my first opportunity out of university and this is
      where I met those who introduced me to <strong>Go</strong> and a range of other
      tools I still use today.
    </p>
    <p>
      Beyond my professional endeavours, I'm a passionate advocate for FOSS,
      speaking at conferences, meetups, and contributing to open source
      projects. My priorities in life are promoting physical and mental
      wellbeing, and creating a sense of community in all environments. Outside
      of work I do a wide range of activities other than development. Bouldering
      🧗, reading 📚, Muay Thai 🥋, motorcyles 🏍️, hiking 🥾, and horticulture
      🌵 are just a few of my hobbies!
    </p>
    <p>
      For more details on my open-source activity please see my GitHub profile
      using the link below.
    </p>

    <hr class="w-20 mx-auto my-8 border-solid border-[1]" />
    <p class="flex items-center justify-center gap-x-8 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="flex gap-x-1 items-center text-secondary hover:text-primary no-underline"
          >
            <i class="iconify size-6" class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      Feel free to contact me to discuss professional and open-source
      opportunities, or just to say hi.
    </p>
  </article>
</BaseLayout>
