---
import { projectData, mentions } from './data'
import BaseLayout from '@/layouts/BaseLayout.astro'
import ListProjects from '@/components/ListProjects.vue'
import ListMentions from '@/components/ListMentions.vue'
---

<BaseLayout title="Projects" description="List of projects that I am proud of">
  <h1 class="mb-10 text-6xl font-extrabold opacity-50">Projects</h1>
  <div class="mb-16 sm:mb-24">
    {
      projectData.length > 0 && (
        <div>
          {projectData.map((i) => (
            <div class="mb-10">
              <div class="py-10 flex flex-col gap-2">
              <h2 class="select-none pointer-events-none text-4xl font-bold">
                  {i.title}
              </h2>
              {
                i.subtitle && (
                  <p class="text-lg">
                    {i.subtitle}
                  </p>
                )
              }
              </div>
              <ListProjects list={i.projects} />
            </div>
          ))}

          {
                mentions.length > 0 && (
            <div class="mb-10">
              <div class="py-10 flex flex-col gap-2">
              <h2 class="select-none pointer-events-none text-4xl font-bold">
                  Honourable Mentions
              </h2>
                <p class="text-lg">
                  Projects that I have not worked on but have inspired me as a developer.
                </p>
              </div>
              <ListMentions client:load links={mentions} />
            </div>
                            )
              }
        </div>
      )
    }
  </div>
</BaseLayout>