---
import { fade } from 'astro:transitions'
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.svelte'
import Footer from '@/components/Footer.svelte'
import Background from '@/components/Background.svelte'
import ScrollToTop from '@/components/ScrollToTop.vue'

const { ...head } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body class="bg-base-100 min-h-screen font-sans w-full">
    <Header client:load />
    <Background client:load />
    <main
      class="grow max-w-3xl mx-auto sm:pt-36 pt-24 pb-16 px-6 relative"
      transition:animate={fade({ duration: '0.4s' })}
    >
      <slot />
      <ScrollToTop client:load />
      <Footer />
    </main>
  </body>
</html>

